rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isNotGoogleUser() {
      return isAuthenticated() &&
        request.auth.token.firebase.sign_in_provider != "google.com";
    }

    function isAssignedOperator() {
      return isNotGoogleUser() &&
        request.auth.uid in [
          "YmFkf4hqIaQsBWm1waccoIdxB7K2",
          "RTgzHx5HHiNYVlPxVGIxkXMYsK83",
        ];
    }

    function isSameUser(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    function canAccessSensitiveData() {
      return isAssignedOperator();
    }

    match /usuarios/{userId} {
      allow read, create, update: if isAssignedOperator() && isSameUser(userId);
      allow delete: if false;
    }

    match /usuarios/{userId}/{document=**} {
      allow read, write: if false;
    }

    match /defectos/{document=**} {
      allow read, write: if canAccessSensitiveData();
    }

    match /descargas/{document=**} {
      allow read, write: if canAccessSensitiveData();
    }

    match /muestras/{document=**} {
      allow read, write: if canAccessSensitiveData();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
